        <div id="mailchimp-subscribe-section-footer" class="mailchimp-subscribe-section">
        <div id="mc_embed_signup-footer">
          <form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLScwVSgiR8pq_l29Y-gHguBB44RfAjjkWXDyqDcHsMobWCEtKA/formResponse" method="post" id="mc-embedded-subscribe-form-footer" name="subscribe-form" class="validate" target="hidden_iframe" onsubmit="submitted=true;">
            <div id="mc_embed_signup_scroll-footer">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 col-12">
                    <input type="email" value="" name="entry.633368685" class="email" id="mce-EMAIL-footer" placeholder="Email" required="">
                  </div>
                  <div class="col-sm-4 col-12">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-footer" class="button">
                  </div>
                </div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"></div>
            </div>
          </form>
        </div>
        </div>    

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.top.location.href='/thankyou/';}"></iframe>
<form method="POST" action="https://docs.google.com/forms/formResponse" target="hidden_iframe" onsubmit="submitted=true;">
</form>          
